# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data
dataset = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')

In [4]:
# Observe top 10 observations (int)
dataset.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
dataset.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
dataset.columns

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [7]:
vowel_letters = ['a', 'e', 'i', 'o', 'u', 'y']
column_names = dataset.columns

# Q1.1 How many columns end with a vowel?

num_end = 0
names_end = []
for name in column_names:
    if name[-1] in vowel_letters:
        num_end += 1
        names_end.append(name)

print("Number of columns which end with a vowel:", num_end,  "\nColumns list:", names_end)

# Q1.2 How many columns start with a vowel?

num_start = 0
names_start = []
for name in column_names:
    if name[0] in vowel_letters:
        num_start += 1
        names_start.append(name)

print("\nNumber of columns which start with a vowel:", num_start)

# Q1.3 Which columns are associated with the condition of weather?

weather_columns = ["temp", "rain_1h", "snow_1h", "clouds_all", "weather_main", "wether_description"]
print("\nColumns associated with weather conditions:", weather_columns)

# Q1.4 How many columns have `th` in their names?

num_th = 0
names_th = []
for name in column_names:
    if "th" in name:
        num_th += 1
        names_th.append(name)

print("\nNumber of columns which contain \"th\":", num_th,  "\nColumns list:", names_th)

Number of columns which end with a vowel: 3
Columns list: ['holiday', 'date_time', 'traffic_volume']

Number of columns which start with a vowel: 0

Columns associated with weather conditions: ['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main', 'wether_description']

Number of columns which contain "th": 2
Columns list: ['weather_main', 'weather_description']

In [8]:
# Print data size (int)

print("Data size:", dataset.shape)

# Q2.1 How many observations are in the data?

print("Number of observations:", dataset.shape[0])

# Q2.2 How many features are in the data?

print("Number of features:", dataset.shape[1])

Data size: (48204, 9)
Number of observations: 48204
Number of features: 9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [9]:
number_of_observations = dataset.shape[0]

# Display number of not NaN's in every column (int)

print("Number of NaN's in every column:")
print(dataset.count())

# Q3.1 How many NA values are in the `clouds_all` column?
# Q3.2 How many NA values are in the `temp` column?
# Q3.3 How many NA values are in the `rain_1h` column?
# Q3.4 How many NA values are in the `snow_1h` column?
# Q3.5 How many NA values are in the `traffic_volume` column?

# 1,3
columns_names = ["clouds_all", "rain_1h"]
for column_name in columns_names:
    print("Number of NA values in the \'" + column_name + "\' column:", number_of_observations - dataset.count()[column_name])

Number of NaN's in every column:
holiday                48204
temp                   48203
rain_1h                48203
snow_1h                48204
clouds_all             48201
weather_main           48203
weather_description    48201
date_time              48204
traffic_volume         48199
dtype: int64
Number of NA values in the 'clouds_all' column: 3
Number of NA values in the 'rain_1h' column: 1

In [10]:
# Now drop rows with NaN with `.dropna`. Remember to either reassign your dataframe or provide `inplace=True` argument.

dataset.dropna(inplace=True)

In [11]:
# Display basic data statistics using .describe()

dataset.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [12]:
# Count number of unique values in every column (int)

print("Number of unique values in every column:")
print(dataset.nunique())

# Q4.1 How many unique values are in the `clouds_all` column?
# Q4.2 How many unique values are in the `weather_main` column?
# Q4.3 How many unique values are in the `weather_description` column?
# Q4.4 How many unique values are in the `snow_1h` column?
# Q4.5 How many unique values are in the `rain_1h` column?

# 1,5
columns_names = ['clouds_all', 'rain_1h']
for column_name in columns_names:
    print("Number of unique values in the \'" + column_name + "\' column:", dataset[column_name].value_counts().size)

Number of unique values in every column:
holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40562
traffic_volume          6704
dtype: int64
Number of unique values in the 'clouds_all' column: 60
Number of unique values in the 'rain_1h' column: 372

In [13]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

# Q5.1 For every unique `weather_main` value give its number of occurences.

print("Number of occurences of unique values in \'weather_main\' column:")
print(dataset["weather_main"].value_counts())

# Q5.2 For every unique `weather_description` value give its number of occurences.

print("\nNumber of occurences of unique values in \'weather_description\' column:")
print(dataset["weather_description"].value_counts())

Number of occurences of unique values in 'weather_main' column:
Clouds          15159
Clear           13384
Mist             5950
Rain             5671
Snow             2876
Drizzle          1821
Haze             1359
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64

Number of occurences of unique values in 'weather_description' column:
sky is clear                           11658
mist                                    5950
overcast clouds                         5081
broken clouds                           4665
scattered clouds                        3458
light rain                              3371
few clouds                              1955
light snow                              1946
Sky is Clear                            1726
moderate rain                           1664
haze                                    1359
light intensity drizzle                 1100
fog                                      912
proximity thunderstorm                   673
drizzle                                  651
heavy snow                               616
heavy intensity rain                     467
snow                                     293
proximity shower rain                    136
thunderstorm                             125
heavy intensity drizzle                   64
thunderstorm with heavy rain              63
thunderstorm with light rain              54
proximity thunderstorm with rain          52
thunderstorm with rain                    37
smoke                                     20
very heavy rain                           18
thunderstorm with light drizzle           15
light intensity shower rain               13
proximity thunderstorm with drizzle       13
light shower snow                         11
light rain and snow                        6
shower drizzle                             6
SQUALLS                                    4
sleet                                      3
thunderstorm with drizzle                  2
freezing rain                              2
shower snow                                1
Name: weather_description, dtype: int64

In [14]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
# Q6.3 What are the max, min, mean and the std of the `temp` column?
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?

# 2,4
columns_names = ["clouds_all","rain_1h"]
for column_name in columns_names:
    print("\nFor \'" + column_name + "\' column:")
    print("max =", round(dataset[column_name].max(), 3))
    print("min = ", round(dataset[column_name].min(), 3))
    print("mean = ", round(dataset[column_name].mean(), 3))
    print("std = ", round(dataset[column_name].std(), 3))

For 'clouds_all' column:
max = 100.0
min =  0.0
mean =  49.369
std =  39.016

For 'rain_1h' column:
max = 9831.3
min =  0.0
mean =  0.334
std =  44.796

In [15]:
# Display data types of all columns (int)

print("Data types of all columns")
print(dataset.dtypes)

# Q7.1 How many columns have `object` data type?
# Q7.2 How many columns have `int64` data type?
# Q7.3 How many columns have `float64` data type?
# Q7.4 What are the columns with dtype == `float64`?
# Q7.5 What are the columns with dtype == `int64`?

# 3
print('Number of columns with data type \'float64\':', dataset.dtypes[dataset.dtypes == 'float64'].size)

# 5
print('Columns with dtype == \'int64\':', dataset.dtypes[dataset.dtypes == 'int64'].index.to_list())

Data types of all columns
holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all             float64
weather_main            object
weather_description     object
date_time               object
traffic_volume         float64
dtype: object
Number of columns with data type 'float64': 5
Columns with dtype == 'int64': []

# 3. Data selection

In pandas.DataFrame you could select

  Rows by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Rows and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [16]:
# Select rows by position (int) 

# Q8.1 What is the temperature of the time slot with index 777?
# Q8.2 What is the weather description of the time slot with index 999?
# Q8.3 How much is cloud coverage with index 1337?
# Q8.4 What is the weather main of the time slot with index 314?
# Q8.5 When was the time slot with index of 2718 observed?

# 1
print("The temperature of the time slot with index 777:", dataset.iloc[777]["temp"])

# 5
print("Time of observation for time slot with index 2718:", dataset.iloc[2718]["date_time"])

The temperature of the time slot with index 777: 278.5
Time of observation for time slot with index 2718: 2013-01-06 14:00:00

In [17]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
# Q9.2 What is the weather description of the time slot on index 5695?
# Q9.3 How much is cloud coverage on the index 1045?
# Q9.4 What is the weather main of the time slot from index 252?
# Q9.5 When was the time slot with index of 38 captured?

# 4
print("Weather main from time slot with index 252:", dataset.loc[252]["weather_main"])

# 5
print("Time when slot with index 38 was captured:", dataset.loc[38]["date_time"])

Weather main from time slot with index 252: Clear
Time when slot with index 38 was captured: 2012-10-04 03:00:00

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# Q10.2 When was the first "light intensity drizzle" in weather description captured?
# Q10.3 How many time slots have cloud coverage more than 75?
# Q10.4 How many time slots are foggy? (weather_main = Fog)
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?

# 2
print("The first time 'light intensity drizzle' was captured:", dataset.query("weather_description == 'light intensity drizzle'")["date_time"].min())

# 3
print("Number of time slots which have cloud coverage more than 75:", dataset.query("clouds_all > 75").shape[0])

The first time 'light intensity drizzle' was captured: 2012-10-10 07:00:00
Number of time slots which have cloud coverage more than 75: 18036

In [19]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?

# 2
print("Amount of rain at 70-th rainy time slot:", dataset.query("rain_1h != 0").iloc[69]["rain_1h"])

# 4
print("Traffic volume of a 34th sample with 'clouds_all' == 90:", dataset.query("clouds_all == 90").iloc[33]["traffic_volume"])

Amount of rain at 70-th rainy time slot: 0.25
Traffic volume of a 34th sample with 'clouds_all' == 90: 4329.0

In [20]:
# Q12.1 What is the temperature of the tenth holiday?
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
# Q12.3 How much is the temperature of the twelfth holiday?
# Q12.4 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?

# 2
print("Traffic volume for 99th time slot with cloud coverage 75 percent:", dataset.query("clouds_all == 75").iloc[98]["traffic_volume"])

# 3
print("Temperature of the 12th holiday:", dataset.query("holiday != 'None'").iloc[11]["temp"])

Traffic volume for 99th time slot with cloud coverage 75 percent: 1437.0
Temperature of the 12th holiday: 275.44

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [21]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.

# 1
from statistics import quantiles


dataset["temp_in_celcius"] = dataset["temp"] - 273.15

# 2
dataset["hot"] = dataset["temp"] > 300

# 3
dataset["rainy_and_cloudy"] = (dataset["rain_1h"] > 0.1) & (dataset["clouds_all"] > 50)

# 4
def get_date(str):
    date = str[:10]
    return date

holidays_dates = dataset.query("holiday != 'None'")["date_time"].map(get_date)

def is_holiday(date):
    if date in holidays_dates.values:
        return True
    else:
        return False

dataset["is_holiday"] = dataset["date_time"].map(get_date).map(is_holiday)

# 5

quantiles = dataset["traffic_volume"].quantile([.2, .4, .6, .8, 1])

def quantile_number(x):
    for index, quantile in enumerate(quantiles):
        if quantile >= x:
            return index + 1

dataset["traffic_cat"] = dataset["traffic_volume"].map(quantile_number)

dataset.head(30)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False,False,4
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False,False,4
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False,False,4
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0,18.57,False,False,False,4
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0,20.02,False,False,False,5
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0,20.71,False,False,False,5
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0,20.99,False,False,False,5
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0,19.95,False,False,False,4
10,None,290.97,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 19:00:00,3539.0,17.82,False,False,False,3
11,None,289.38,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 20:00:00,2784.0,16.23,False,False,False,3
12,None,288.61,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 21:00:00,2361.0,15.46,False,False,False,2
13,None,287.16,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 22:00:00,1529.0,14.01,False,False,False,2
14,None,285.45,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 23:00:00,963.0,12.30,False,False,False,2
15,None,284.63,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 00:00:00,506.0,11.48,False,False,False,1
16,None,283.47,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 01:00:00,321.0,10.32,False,False,False,1
17,None,281.18,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 02:00:00,273.0,8.03,False,False,False,1
18,None,281.09,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 03:00:00,367.0,7.94,False,False,False,1
19,None,279.53,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 04:00:00,814.0,6.38,False,False,False,1
20,None,278.62,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 05:00:00,2718.0,5.47,False,False,False,2
21,None,278.23,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 06:00:00,5673.0,5.08,False,False,False,5
22,None,278.12,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 08:00:00,6511.0,4.97,False,False,False,5
23,None,282.48,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 09:00:00,5471.0,9.33,False,False,False,5
24,None,291.97,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 12:00:00,5097.0,18.82,False,False,False,4
25,None,293.23,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 13:00:00,4887.0,20.08,False,False,False,4
26,None,294.31,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 14:00:00,5337.0,21.16,False,False,False,5
27,None,295.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 15:00:00,5692.0,22.02,False,False,False,5
28,None,295.13,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 16:00:00,6137.0,21.98,False,False,False,5
29,None,293.66,0.0,0.0,20.0,Clouds,few clouds,2012-10-03 18:00:00,4623.0,20.51,False,False,False,4

In [22]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?

# 1

is_autumn_2016 = lambda x : x.startswith(("2016-9", "2016-10", "2016-11"))

autumn_2016_mask = dataset["date_time"].map(is_autumn_2016)
print("Number of cloudy time slots captured in the autumn 2016:", dataset[autumn_2016_mask & (dataset["weather_main"] == "Clouds")].shape[0])

# 5

is_june_2017 = lambda x : x.startswith("2017-06")

june_2017_mask = dataset["date_time"].map(is_june_2017)
print("Maximum traffic volume for the time slots with clear sky captured in June 2017:", dataset[june_2017_mask & (dataset["weather_main"] == "Clear")]["traffic_volume"].max())

Number of cloudy time slots captured in the autumn 2016: 423
Maximum traffic volume for the time slots with clear sky captured in June 2017: 6673.0

In [23]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q15.1 What was the average temperature of time slots with main weather "Haze"?
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
# Q15.5 What is the maximum temperature of time slots with clear sky?

# 2

is_year_2016 = lambda x : x.startswith("2016")
year_2016_mask = dataset["date_time"].map(is_year_2016)

lowest_temp_in_2016 = dataset[year_2016_mask]["temp"].min()

print("Traffic volume of the coldest time slot of the year 2016:", dataset[dataset["temp"] == lowest_temp_in_2016]["traffic_volume"].iloc[0])

# 5

print("Maximum temperature of time slots with clear sky:", dataset.query("weather_main == 'Clear'")["temp"].max())

Traffic volume of the coldest time slot of the year 2016: 1462.0
Maximum temperature of time slots with clear sky: 308.43

In [24]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
# Q16.2 What is the average traffic volume on holidays?
# Q16.3 What is the average traffic volume on non-holidays?
# Q16.4 What is the average traffic volume in the highest quantile?
# Q16.5 What is the average traffic volume in the lowest quantile?

# 1

print("Average temperature in celcius of the time slots with 'rainy_and_cloudy' == True:", dataset.query("rainy_and_cloudy == True")["temp_in_celcius"].mean())

# 2

print("Average traffic volume on holidays:", dataset.query("is_holiday == True")["traffic_volume"].mean())

# 3

print("Average traffic volume on non-holidays:", dataset.query("is_holiday == False")["traffic_volume"].mean())

# 4

print("Average traffic volume in the highest quantile:", dataset.query("traffic_cat == 5")["traffic_volume"].mean())

# 5

print("Average traffic volume in the lowest quantile:", dataset.query("traffic_cat == 1")["traffic_volume"].mean())

Average temperature in celcius of the time slots with 'rainy_and_cloudy' == True: 13.584578809434692
Average traffic volume on holidays: 2541.4371894960964
Average traffic volume on non-holidays: 3281.497274534533
Average traffic volume in the highest quantile: 5870.913350649351
Average traffic volume in the lowest quantile: 485.5536195809998

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [25]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
# Q17.2 Extract and store `year`
# Q17.3 Extract and store `month`
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
# Q17.6 Extract and store `hour`


dataset["date_time"] = pd.to_datetime(dataset["date_time"], format="%Y-%m-%d %H:%M:%S")

dataset["day"] = dataset["date_time"].dt.day

dataset.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat,day
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5,2
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4,2
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,16.43,False,False,False,4,2
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,16.98,False,False,False,4,2
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,17.99,False,False,False,4,2

In [26]:
# Find some date related information from the data (int)

# Q18.1 What is the weekday with the highest traffic volume?
# Q18.2 What is the weekday with the lowest traffic volume?
# Q18.3 What is the average traffic volume during months of September?
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?

# 3

dataset["month"] = dataset["date_time"].dt.month

print("Average traffic volume during months of September:", dataset[dataset["month"] == 9]["traffic_volume"].mean())

# 5

print("Average traffic volume on World Bicycle Day:", dataset.query("(month == 9) & (day == 3)")["traffic_volume"].mean())

Average traffic volume during months of September: 3303.049334377447
Average traffic volume on World Bicycle Day: 2661.8046875

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [27]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.

dataset["year"] = dataset["date_time"].dt.year

dataset["weekday"] = dataset["date_time"].dt.day_of_week

print("Median traffic by year", dataset.groupby('year')['traffic_volume'].median())

print("Median traffic by weekday", dataset.groupby('weekday')['traffic_volume'].median())

print("Mean temperature by traffic", dataset.groupby('traffic_cat')['temp_in_celcius'].mean())

Median traffic by year year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64
Median traffic by weekday weekday
0    3619.0
1    4070.0
2    4315.0
3    4280.0
4    4336.5
5    3003.0
6    2260.0
Name: traffic_volume, dtype: float64
Mean temperature by traffic traffic_cat
1    5.445774
2    6.031004
3    9.244710
4    9.797489
5    9.740191
Name: temp_in_celcius, dtype: float64

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [28]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`

from calendar import week
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

dataset.reset_index(inplace=True, drop = True)

Y = dataset["traffic_volume"].values

dataset["hour"] = dataset["date_time"].dt.hour
dataset["is_holiday"] = dataset["is_holiday"].astype("float")

ohe = OneHotEncoder(sparse=False)
encoded_features = pd.DataFrame(ohe.fit_transform(dataset[["weather_main"]]))
dummy_col_names = [f'weather_{cat}' for cat in ohe.categories_[0]]
encoded_features.columns = dummy_col_names

good_columns = ["is_holiday", "rain_1h", "snow_1h", "weekday", "temp_in_celcius", "month", "hour"]

X = pd.concat([dataset[good_columns], encoded_features], axis=1)

good_num_col_names = ["rain_1h", "snow_1h", "temp_in_celcius"]
scaler = MinMaxScaler()
X[good_num_col_names] = scaler.fit_transform(X[good_num_col_names])

#X = dataset[good_columns]

X.tail()

,is_holiday,rain_1h,snow_1h,weekday,temp_in_celcius,month,hour,weather_Clear,weather_Clouds,weather_Drizzle,weather_Fog,weather_Haze,weather_Mist,weather_Rain,weather_Smoke,weather_Snow,weather_Squall,weather_Thunderstorm
48185,0.0,0.0,0.0,6,0.914148,9,19,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48186,0.0,0.0,0.0,6,0.911923,9,20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48187,0.0,0.0,0.0,6,0.911826,9,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48188,0.0,0.0,0.0,6,0.909762,9,22,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48189,0.0,0.0,0.0,6,0.909859,9,23,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [29]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit

tscv = TimeSeriesSplit()

splits = list(tscv.split(X))

train_indeces, test_indeces = splits[-1]

X_train, Y_train = X.loc[train_indeces], Y[train_indeces]
X_test, Y_test = X.loc[test_indeces], Y[test_indeces]

print("Test sample size:", X_test.shape[0])
print("Train sample size:", X_train.shape[0])

Test sample size: 8031
Train sample size: 40159

In [30]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression



from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from scipy.stats import pearsonr

ridge = Ridge(alpha = 1)
ridge.fit(X_train, Y_train)

tree = DecisionTreeRegressor(random_state = 42, max_depth = 7)
tree.fit(X_train, Y_train)

knn = KNeighborsRegressor(n_neighbors = 12)
knn.fit(X_train, Y_train)

print("Ridge regression score:", ridge.score(X_test, Y_test))
print("Decision tree regression:", tree.score(X_test, Y_test))
print("K neighbors regression score:", knn.score(X_test, Y_test))


#Y_predicted = ridge.predict(X_test)
#print("Ridge regression pirson score:", (pearsonr(Y_predicted, Y_test)[0])**2)

Ridge regression score: 0.1711854402290186
Decision tree regression: 0.9342799303485199
K neighbors regression score: 0.932470520002549

In [31]:
# Use grid search to select optimal hyperparamters of your models. 

# Q23.1 Alpha for a ridge regression
# Q23.2 Depth for the tree
# Q23.3 Number of neighbours for the knn

from sklearn.model_selection import GridSearchCV

grid_ridge = {'alpha' : np.linspace(1, 10, 20)}

grid_tree = {'max_depth' : range(1, 10)}

grid_knn = {'n_neighbors' : range(3,20,2)}

gsr = GridSearchCV(Ridge(), param_grid = grid_ridge, cv = tscv)
gsr.fit(X_train, Y_train)

gst = GridSearchCV(DecisionTreeRegressor(random_state = 42), param_grid = grid_tree, cv = tscv)
gst.fit(X_train, Y_train)

gsknn = GridSearchCV(KNeighborsRegressor(), param_grid = grid_knn, cv = tscv)
gsknn.fit(X_train, Y_train)

alpha = gsr.best_params_['alpha']
max_depth = gst.best_params_['max_depth']
n_neighbors = gsknn.best_params_['n_neighbors']

print("best alpha:", alpha)
print("best max_depth:", max_depth)
print("best n_neighbors:", n_neighbors)

best alpha: 4.315789473684211
best max_depth: 8
best n_neighbors: 15

In [32]:
# Compute train and test mean squared error for your best models (list of float).

# Q24.1 Train, test MSE using linear regression with l2 regularization
# Q24.2 Train, test MSE using decision tree regression
# Q24.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error

ridge = Ridge(alpha = alpha)
ridge.fit(X_train, Y_train)
Y_train_predict_ridge = ridge.predict(X_train)
Y_test_predict_ridge = ridge.predict(X_test)


tree = DecisionTreeRegressor(max_depth = max_depth)
tree.fit(X_train, Y_train)
Y_train_predict_tree = tree.predict(X_train)
Y_test_predict_tree = tree.predict(X_test)

knn = KNeighborsRegressor(n_neighbors = n_neighbors)
knn.fit(X_train, Y_train)
Y_train_predict_knn = knn.predict(X_train)
Y_test_predict_knn = knn.predict(X_test)

print("Train MSE for ridge regression:", mean_squared_error(Y_train, Y_train_predict_ridge))
print("Train MSE for decision tree regression:", mean_squared_error(Y_train, Y_train_predict_tree))
print("Train MSE for knn regression:", mean_squared_error(Y_train, Y_train_predict_knn))

tree = DecisionTreeRegressor(max_depth = max_depth)
tree.fit(X_train, Y_train)

print("\nTest MSE for ridge regression:", mean_squared_error(Y_test, Y_test_predict_ridge))
print("Test MSE for decision tree regression:", mean_squared_error(Y_test, Y_test_predict_tree))
print("Test MSE for knn regression:", mean_squared_error(Y_test, Y_test_predict_knn))

Train MSE for ridge regression: 3280656.885541863
Train MSE for decision tree regression: 194017.17673446916
Train MSE for knn regression: 186645.71277460983

Test MSE for ridge regression: 3214044.9122845996
Test MSE for decision tree regression: 224680.50512701253
Test MSE for knn regression: 259922.6029646232

In [33]:
# Compute train and test R^2 for your best models (list of float).

# Q25.1 Train, test R^2 using linear regression with l2 regularization
# Q25.2 Train, test R^2 using decision tree regression
# Q25.3 Train, test R^2 using k nearest neighbours regression

from scipy.stats import pearsonr

print("Train R^2 for ridge regression:", (pearsonr(Y_train, Y_train_predict_ridge)[0])**2)
print("Train R^2 for decision tree regression:", (pearsonr(Y_train, Y_train_predict_tree)[0])**2)
print("Train R^2 for knn regression:", (pearsonr(Y_train, Y_train_predict_knn)[0])**2)

print("\nTest R^2 for ridge regression:", (pearsonr(Y_test, Y_test_predict_ridge)[0])**2)
print("Test R^2 for decision tree regression:", (pearsonr(Y_test, Y_test_predict_tree)[0])**2)
print("Test R^2 for knn regression:", (pearsonr(Y_test, Y_test_predict_knn)[0])**2)

Train R^2 for ridge regression: 0.1719285087543559
Train R^2 for decision tree regression: 0.9510279549437128
Train R^2 for knn regression: 0.9535473816589796

Test R^2 for ridge regression: 0.17152091212883502
Test R^2 for decision tree regression: 0.9424392076451652
Test R^2 for knn regression: 0.9341625106585413

In [34]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

top_features = pd.DataFrame.from_dict({"coefs": abs(ridge.coef_), "features": X.columns}).sort_values('coefs', ascending=False).head(5)

print(f'Top 5 features: {top_features["features"].tolist()}')

Top 5 features: ['temp_in_celcius', 'is_holiday', 'weather_Squall', 'weather_Haze', 'weather_Thunderstorm']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells